$leagueBgColor: cadetblue;

.leaguelogos {
  height: 210px;
  width: 200px;
  padding: 2em;
  cursor: pointer;

  &:hover {
    background-color: $leagueBgColor;
  }
}

#bigtext {
  font-size: 1.5em;
  word-spacing: 0.15em;
}

.league-search {
  input {
    max-width: 50em;
  }
}

.result-league-name {
  border: 2px solid white;
  padding: 0.5em;
  &:hover {
    cursor: pointer;
    color: red;
    border-color: red;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
